{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - Mon compte{% endblock %}

{% block content %}
    <main class="container">
        <h1 class="text-center">Mon compte</h1>
        <p class="text-center">Bienvenue {{ app.user.firstname }} dans votre compte.</p>

        {% if is_granted("ROLE_ADMIN") %}
            <div class="text-center">
                <p>C'est dans cet espace que vous allez pouvoir gérer la console d'administration, la modification de votre mot de passe et ajouter une réservation.</p>
                <hr>
                <a href="{{ path('admin') }}" target="_blank" class="btn btn-primary mb-3">Console d'administration</a><br>
                <a href="{{ path('account_password') }}" class="btn btn-secondary mb-3">Modifier mon mot de passe</a><br>
                <a href="{{ path('view_user', {'userId': app.user.id}) }}" class="btn btn-secondary">Voir mes réservations</a>
            </div>
        {% else %}
            <div class="text-center">
                <p>C'est dans cet espace que vous allez pouvoir gérer la modification de votre mot de passe et ajouter une réservation.</p>
                <hr>
                <a href="{{ path('account_password') }}" class="btn btn-primary mb-3">Modifier mon mot de passe</a><br>
                <a href="{{ path('view_user', {'userId': app.user.id}) }}" class="btn btn-secondary">Voir mes réservations</a>
            </div>
        {% endif %}

        <hr>
    </main>
{% endblock %}

