{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - Nos Menus{% endblock %}

{% block content %}
    <main class="justify-content-center container">
        <section class="row">
            <div class="col-12">
                <h1>Nos Menus</h1>
            </div>
            {% for menu in menus %}
                <div class="col-4 text-center">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">{{ menu.title}}</h2>
                            <span class="carte-subtitle">{{ menu.subtitle }}</span>
                                <div class="featurette-divider carte-item text-center">
                            <span class="carte-price">{{ (menu.price /100) | number_format(2, ',', '.') }} €</span>
                                </div>
                            <p class="menu-p">{{ menu.optionOne }}</p>
                            <p class="menu-p">{{ menu.optionTwo }}</p>
                            <p class="menu-p">{{ menu.optionThree }}</p>
                            <p class="menu-p">{{ menu.optionFour }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}
